{
	languages = (
		{
			name = "Runes";
			icon = RunesTemplate;
			script = runic;
			subGroup = (
				{
					name = "Letters";
					coverage = (
						fehu-runic,
						v-runic,
						uruz-runic,
						yr-runic,
						y-runic,
						w-runic,
						thurisazThursThorn-runic,
						eth-runic,
						ansuzA-runic,
						osO-runic,
						acA-runic,
						aesc-runic,
						ossOLongBranch-runic,
						ossOShortTwig-runic,
						o-runic,
						oe-runic,
						on-runic,
						raidoRadReidR-runic,
						kauna-runic,
						cen-runic,
						kaunK-runic,
						g-runic,
						eng-runic,
						geboGyfuG-runic,
						gar-runic,
						wunjoWynnW-runic,
						haglazH-runic,
						haeglH-runic,
						hagallHLongBranch-runic,
						hagallHShortTwig-runic,
						naudNNaudizNyd-runic,
						naudNShortTwig-runic,
						nDotted-runic,
						isazIsIssI-runic,
						e-runic,
						jeranJ-runic,
						ger-runic,
						aeLongBranchAr-runic,
						aShortTwigAr-runic,
						iwazEoh-runic,
						perthoPeorthP-runic,
						algizEolhx-runic,
						sowiloS-runic,
						sigelLongBranchSol-runic,
						sShortTwigSol-runic,
						c-runic,
						z-runic,
						tiwazTirTyr-runic,
						tShortTwigTyr-runic,
						d-runic,
						berkananBeorcBjarkanB-runic,
						bjarkanBshortTwig-runic,
						pDotted-runic,
						pOpen-runic,
						ehwazEhE-runic,
						mannazManM-runic,
						mLongBranchMadr-runic,
						mShortTwigMadr-runic,
						laukazLaguLogrL-runic,
						lDotted-runic,
						ingwaz-runic,
						ing-runic,
						dagazDaegD-runic,
						othalanEthelO-runic,
						ear-runic,
						ior-runic,
						cweorth-runic,
						calc-runic,
						cealc-runic,
						stan-runic,
						yrLongBranch-runic,
						yrShortTwig-runic,
						yrIcelandic-runic,
						q-runic,
						x-runic,
						k-runic,
						sh-runic,
						oo-runic,
						osFranksCasket-runic,
						isFranksCasket-runic,
						ehFranksCasket-runic,
						acFranksCasket-runic,
						aescFranksCasket-runic
					);
				},
				{
					name = "Punctuation";
					coverage = (
						punctSingle-runic,
						punctMultiple-runic,
						punctCross-runic
					);
				},
				{
					name = "Symbols";
					coverage = (
						arlaug-runic,
						tvimadur-runic,
						belgthor-runic
					);
				}
			);
		},
	);
}

